/*
 * ────────────────────────────────────────────────────────── I ──────────
 *   :::::: 3 D   B U T T O N : :  :   :    :     :        :          :
 * ────────────────────────────────────────────────────────────────────
 */

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 100px;
}

.btn {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
    cursor: pointer;
}

.btn:active
{
 background: hsl(16, 100%, 45%);
 top: 3px;
 left: -3px;
 box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
}

.btn::before{
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width:0;
    border: solid 6px transparent;
    border-right: solid 6px  hsl(16, 100%, 30%);
    top: 0%;
    left: -6px;
    border-left-width: 0;

}
.btn::after{
    position: absolute;
    display: block;
    content: "";
    height: 0;
    width:0;
    border: solid 6px transparent;
    border-top: solid 6px  hsl(16, 100%, 30%);
    border-bottom-width: 0;
    right: 0;
    bottom: -6px;
}

.btn:active::before{
    border: solid 3px transparent;
    border-left-width: 0;
    border-right: solid 3px  hsl(16, 100%, 30%);
    left: -3px;
}

.btn:active::after{
    border: solid 3px transparent;
    border-bottom-width: 0;
    border-top: solid 3px  hsl(16, 100%, 30%);
    bottom: -3px;
}

/*
 * ───────────────────────────────────────────────────────── 3D BUTTON-ENDING ─────
 */

    



